.container {
    margin-top: 40px;
    width: 1024px;
    box-sizing: border-box;
    /* background-color: ghostwhite; */
    min-height: 200px;
    border: 2px solid #eeeeee;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.countdown_timer {
    width: 600px;
    height: 100px;
    border: 2px solid black;
    border-radius: 4px;

    font-family: 'Oswald';
    font-size: 30px;
    background-color: #85ffd2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient {
    /* background-image: linear-gradient(to right,#ffdbdb, #f4d6df, #e9d1e3, #434343, #000000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300%;
    background-position: -200%;
    animation: animatedText 2s infinite;

    @keyframes animatedText {
        from {
            background-position: 0%;
        }
        to {
            background-position: 100%;
        }
    } */

    text-transform: uppercase; 
    background-image: linear-gradient(to right, white, black,#58a6ff);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    
    background-size: 300%;
    background-position: -100%;

    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
    
    animation: animatedText 5s infinite alternate-reverse;
  }
  
  @keyframes animatedText{
    to{
      background-position: 100%; 
    }
}

.countdown_timer span {
    margin: 0 5px;
}

.two_numbers {
    width: 2ch;
}