.container {
    margin-top: 40px;
    width: 100%;
    box-sizing: border-box;
    min-height: 300px;
    border: 2px solid #eeeeee;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;
    overflow: hidden;
}

.container i {
    z-index: -1;
    position: absolute;
    border-radius: 100%;
    background: #58a6ff;
    animation: animateBubles 5s linear infinite;
}

@-webkit-keyframes animateBubles {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(-2000%);
        opacity: 0;
    }
}

@keyframes animateBubles {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(-2000%);
        opacity: 0;
    }
}

.container i:nth-child(even) {
    background: transparent;
    border: 1px solid #58a6ff;
}

.container h2 {
    position: relative;
    left: -170px;
    top: 5px;

    font-family: 'Oswald';
    font-size: 30px;

    color: rgb(59, 69, 78);
}

.countdown_timer {
    position: relative;
    top: -10px;
    width: 600px;
    height: 100px;
    border: 2px solid rgb(59, 69, 78);
    border-radius: 4px;

    font-family: 'Oswald';
    font-size: 30px;
    background-color: #1f253c0c;
    backdrop-filter: blur(2px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient {
    text-transform: uppercase; 
    background-image: linear-gradient(to right, rgb(211, 220, 228), rgb(92, 105, 117), rgb(59, 69, 78));
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    
    background-size: 300%;
    background-position: -100%;

    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
    
    animation: animatedText 5s infinite alternate-reverse;
  }
  
@keyframes animatedText{
    to{
        background-position: 100%; 
    }
}

@-webkit-keyframes animatedText{
    to{
        background-position: 100%; 
    }
}

.countdown_timer span {
    margin: 0 5px;
}

.two_numbers {
    width: 2ch;
}

.unselectable {
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently */
}
    