.container_aside {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    color: rgb(92, 105, 117);
}

.container_aside ul {
    margin-top: 16px;
}

.container_aside li {
    display: flex;
    width: 276px;
    height: 40px;
    text-justify: center;
    padding: 0 16px;
    align-items: center;
}

.container_aside li a {
    width: 100%;
}

.active {
    border: solid 1px rgb(211, 220, 228);
    background-color: white;
}
