.container_aside {
    margin-top: 48px;
    min-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(92, 105, 117);
}

.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 204px;
    width: 204px;
    border: 4px solid ;
    border-radius: 50%;
}

.img_container img {
    height: 200px;
    width: 200px;
    border: 4px solid transparent;
    border-radius: 50%;
    background-color: rgba(136, 153, 168, 0.181);
}

.name {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name h2 {
    margin-top: 6px;
    margin-bottom: 0;
    color:rgb(59, 69, 78);
}

.media {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
}

.media img {
    width: 48px;
    height: 48px;
    margin-left: 2px;
}

.container_aside .skills {
    width: 200px;
}

.container_aside .skills div {
    background-color: rgba(211, 220, 228, 0.222);
    color: rgb(59, 69, 78);
    display: inline-block;
    margin: 4px;
    padding: 4px 8px;
    border: 1px solid rgba(211, 220, 228, 0.222);
    /* rgb(92, 105, 117); */
    border-radius: 15px;
}

.skills_container h2 {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    color: rgb(59, 69, 78);
    font-weight: 400;
}

.download_button {
    margin-top: 24px;
    padding: 12px;
    border-radius: 5px;
    background-color: rgba(211, 220, 228, 1);
}